@import url(global.css);

body{

    background: #1D2128;
    ;
 }
 *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }
 .container{
    margin: 32px 0;
    text-align: center;
    /* display:flex;
    justify-content:space-around;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
 }

 /* .briefcase-summary__header {
   margin-bottom: 3rem;
   text-align: center;
 } */
 
 .briefcase-summary__content {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
   gap: 2rem;
 }
 
 h1{
    text-align: center;
 }
 /*form button{
    position: relative;top: 20px;left: -120px;
 }*/
 .nota{
    background-color: yellow;
    border: 1px solid white;
    height: 260px;
    /*width: 200px;*/
    border-radius: 20px;
    font-weight: 400;
    /* position: relative; */
    /*font-size: 24px;
    width: 17%;
    margin: 30px; */
 }
  
 textarea{
    resize: none;
    border: none;
    outline: none;
    width: 580px;
    text-align: center;
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 button{
    border-radius: 16px white;
    all: unset;
    cursor: pointer;
    padding:.2rem ;
 }

 .input{
    width: 600px;
    height: 150px;
    border-radius: 8px;
    background-color: #fff;
}

 .nota button{
   color: gray;
    /* position: absolute; */
    /* bottom: -40px;
    left: 0;
    right: 0; */
    border-radius: 16px;
 }
 .container-notas{
    justify-content: center;
 }
 
 /*como centrar un boton absolute o un div*/
 
 .section{
    display: flex;
 }
 .lateral{
    width: 280px;
 }
 .main{
  width: 100%;
 }
 .hidden{
    display: none;
 }

 .input__footer{
   display: flex;
   justify-content: space-between;
 }

 svg{
   width: 2.25rem;
   height: 2.25rem;
 }
 .main__notes{
   padding: 1.5rem 4rem;
 }
 header{
   height: 4.375rem;
 }