@import url(global.css);

body{

    background: #999B9E;
 }
 *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }
 .container{
    margin: 80px;
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
 }
 
 
 h1{
    text-align: center;
 }
 /*form button{
    position: relative;top: 20px;left: -120px;
 }*/
 .nota{
    background-color: yellow;
    border: 1px solid white;
    height: 200px;
    /*width: 200px;*/
    border-radius: 20px;
    font-weight: 400;
    font-size: 24px;
   
    position: relative;
    width: 17%;
    margin: 30px;
 }
  
 textarea{
    resize: none;
    border: none;
    outline: none;
    width: 580px;
    text-align: center;
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button{
    color: white;
    margin: 0px;
    width: 220px;
    height: 50px;
    background: #4F4F4F;
    border-radius: 16px;
    /* position: relative;
    top: 40px;
    left: -240px;
    gap: 8px;
    position:relative;
    left: -130px;
     */
   
 }

 .input{
    width: 600px;
    height: 150px;
    border-radius: 8px;
    background-color: #fff;
}

 .nota button{
   color: gray;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    border-radius: 16px;
 }
 .container-notas{
    justify-content: center;
 }
 
 /*como centrar un boton absolute o un div*/
 
 .section{
    display: flex;
 }
 .lateral{
    width: 280px;
 }
 .main{
  width: 100%;
 }