@import url(global.css);
@import url(components/header.css);
@import url(components/sidebar.css);
 .container{
    margin: 32px 0;
    text-align: center;
    /* display:flex;
    justify-content:space-around;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 2rem;
 }

 
 h1{
    text-align: center;
 }
 /*form button{
    position: relative;top: 20px;left: -120px;
 }*/
 .nota{
    background-color: yellow;
    border: 1px solid white;
    height: 260px;
    /*width: 200px;*/
    border-radius: 20px;
    font-weight: 400;
    /* position: relative; */
    /*font-size: 24px;
    width: 17%;
    margin: 30px; */
 }
  
 textarea, .title-notes{
    resize: none;
    border: none;
    outline: none;
}
textarea{
   width: 580px;
   height: 50px;
   text-align: center;
   font-size: 24px;
}

.title-notes{
   width: 580px;
   font-size: 1.1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 button{
    border-radius: 16px white;
    all: unset;
    cursor: pointer;
    padding:.2rem ;
 }

 .input{
    width: 600px;
    height: 150px;
    border-radius: 8px;
    background-color: #fff;
}

 .nota button{
   color: gray;
    /* position: absolute; */
    /* bottom: -40px;
    left: 0;
    right: 0; */
    border-radius: 16px;
 }
 .container-notas{
    justify-content: center;
 }
 
 /*como centrar un boton absolute o un div*/
 

 .main{
  width: 100%;
 }
 .hidden{
    display: none;
 }

 .input__footer{
   display: flex;
   justify-content: space-between;
 }


 .main__notes{
   padding: 1.5rem 4rem;
 }

 .option-selected{
   background: gray;
 }

 .colors{
   width:9.68rem;
   height: 4.06rem;
   padding: .2rem;
   background: #1D2128;
   border-radius: 4px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .color{
 width: 1.56rem;
 height: 1.56rem;
 border-radius: 100px;
 background-color: aqua;
 }

 .colors-opened{
   position:  absolute;
   top: 7.7rem;
   left: 47.3rem;
 }

 .color1{
   background-color: #FFFFFF;
 }
 .color2{
   background-color: #F28B82;
 }
 .color3{
   background-color: #FBBC04;
 }
 .color4{
   background-color:  #FFF475;
 }
 .color5{
   background-color: #CCFF90;
 }
 .color6{
   background-color: #A7FFEB;
 }
 .color7{
   background-color: #CBF0F8;
 }
 .color8{
   background-color: #AECBFA;
 }
 .color9{
   background-color: #D7AEFB;
 }
 .color10{
   background-color: #FDCFE8;
 }
